# Development-only example.
# For normal users, prefer `python -m omnisync init`.

OMNISYNC_CEGEP_SLUG=climoilou
OMNISYNC_INSTITUTION_CODE=CLI
OMNISYNC_LANG=FRA
OMNISYNC_SYNC_TIME=05:00
OMNISYNC_CALENDAR_ID=primary
OMNISYNC_HEADLESS=true
